Django
django-environ
requests
psycopg2-binary
djangorestframework

Pillow
gunicorn
django-filter
django-extensions
django-cors-headers>=4.3,<6.0
djangorestframework-simplejwt
redis
django-axes>=7.0,<8.0
django-debug-toolbar
celery
pytest
drf-spectacular
pytest-django
